<% provide(:title, "Home") %>




   <div class="container">
      <div class="jumbotron">
      
        <div class="bg">
        <div class="container">
      <h1>Welcome to landing page!</h1>
      <p>This is an example for jumbotron.</p>
      <br><br><br>
      <form class="form-inline">
    <input type="email" class="form-control" size="50" placeholder="Email Address">
    <button type="button" class = "btn btn-primary btn-lg" >Search Jobs</button>
  </form>
   </div>
  </div> 
   </div>
   </div>
